* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abril Fatface", serif;
    font-weight: 300;
}

:root {
    --primary: #ff1744;
    --primary-dark: #d50000;
    --primary-light: #ff4569;
    --dark: #1a0000;
    --light: #fff;
    --gray: #333;
    --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

html {
    scroll-behavior: smooth;
  }
  

body{
    width: 100%;
  height: 100%;
  margin-bottom: 150px;
  background: radial-gradient(
        circle farthest-side at 0% 50%,
        #282828 23.5%,
        rgba(255, 170, 0, 0) 0
      )
      21px 30px,
    radial-gradient(
        circle farthest-side at 0% 50%,
        #2c3539 24%,
        rgba(240, 166, 17, 0) 0
      )
      19px 30px,
    linear-gradient(
        #282828 14%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 85%,
        #282828 0
      )
      0 0,
    linear-gradient(
        150deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
      )
      0 0,
    linear-gradient(
        30deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
      )
      0 0,
    linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
      #282828;
  background-size: 40px 60px;
}

/* BOTTON-NAV */

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(95, 5, 23, 0.76);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-top: 1px solid rgba(255, 23, 68, 0.2);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
    padding: 0 1rem;
}

.nav-link {
    color: var(--light);
    text-decoration: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: var(--transition);
    font-size: 1.2rem;
}

.nav-link::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.8rem;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    white-space: nowrap;
    margin-bottom: 0.5rem;
}

.nav-link:hover {
    background: var(--primary);
    transform: translateX(-5px);
}

.nav-link:hover::before {
    opacity: 1;
    visibility: visible;
}

/* HERO */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 2rem;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    width: 140%;
    height: 120%;
    background: radial-gradient(circle, var(--primary-dark) 0%, transparent 70%);
    opacity: 0.1;
    animation: pulse 8s ease-in-out infinite;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

/* SOCIAL LINKS */

.social-links {
    position: fixed;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 100;
}

.social-link {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(255, 23, 68, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    text-decoration: none;
    transition: var(--transition);
    backdrop-filter: blur(5px);
    font-size: 1.2rem;
}

.social-link:hover {
    background: var(--primary);
    transform: translateX(5px);
}

.hero-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    align-items: center;
    padding-left: 7rem;
}

.hero-text{
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from{
        transform: translateX(-100px);
        opacity: 1;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.hero-title{
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 1.2;
    position: relative;
    color: var(--light);
}

.hero-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100px;
    height:4px;
    background: var(--primary);
    animation: width 1s ease-in-out;
    forwards: 1s;
}

@keyframes width{
    from{
        width: 0;
    }
    to{
        width: 100px;
    }
}

.hero-subtitle{
    font-size: 1.4rem;
    margin-bottom: 2rem;
    font-weight:lighter;
    color: rgba(255, 255, 255, 0.8);
}

.hero-description{
    line-height: 1.6;
    margin-bottom: 2rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
}

.cta-buttons{
    display: flex;
    gap: 1rem;
}

.btn{
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    text-decoration: none;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

.btn-primary{
    background: var(--primary);
    color: var(--light);
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}

.btn-outline{
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--light);
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}

.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.2), transparent);
    transition: var(--transition);
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(255, 23, 68, 0.2);
}

.btn:hover::before{
    left: 100%;
}

.hero-image{
    position: relative;
    animation: float 6s ease-in-out infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}

.profile-img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--primary);
    box-shadow: rgba(255, 23, 68, 0.3);
    position: relative;
}

.profile-circle{
    position: absolute;
    border-radius: 50%;
    border: 2px dashed var(--primary);
    animation: spin 20s linear infinite;
}

.circle-1{
    width: 400px;
    height: 400px;
    top: -25px;
    left: -25px;
    
}

.circle-2{
    width: 450px;
    height: 450px;
    top: -50px;
    left: -50px;
    border-style: solid;
    opacity: 0.1;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}



/* HERO 2 */


.hero-2{
    
    height: 130vh;
    padding-left: 5%;
}

.hero-2-title {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--light);
    position: relative;
    padding-left: 3%;
}

.hero-2-title::after {
    content: "";
    width: 120px;
    height: 4px;
    background: var(--primary);
    display: block;
    border-radius: 2px;
    margin-top: 8px;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin: 50px;
    justify-content: flex-start;
    
}

.project{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    background: #8ccede;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(3, 3, 3, 0.927);
    margin: 10px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

.project:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}

.project-image{
    width: 100%;
    border-radius: 5px;
    
}

.project-title{
    font-size:1.3rem;
    font-weight: bolder;
    padding-top: 10px;
}

.project p{
    color: rgb(0, 0, 0);
    padding-top: 15px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}

.tecno{
    position: relative;
    padding:10px;
    right: 10px;
    
    
}

.tecno span i{
    padding: 5px;
}

.tecno span{
    font-family: 'Poppins', sans-serif;
}


.tec-html{
    background: #ff8000;
    border-radius: 2px;
    font-size: 0.9rem;
    color: #000;
    text-align: center;
    font-weight: 700;
    padding: 5px 10px;
    
}


.tec-css{
    background: #007fff;
    border-radius: 2px;
    font-size: 0.9rem;
    color: #000;
    text-align: center;
    font-weight: 700;
    padding: 5px 10px;
    
}


.tec-js{
    background: #ffd000;
    border-radius: 2px;
    font-size: 0.9rem;
    color: #000;
    text-align: center;
    font-weight: 700;
    padding: 5px 10px;
    
}

.tec-java{
    background: #CED6E1;
    border-radius: 2px;
    font-size: 0.9rem;
    color: #000;
    text-align: center;
    font-weight: 700;
    padding: 5px 10px;
}

.tec-inso{
    background: #883ec9;
    border-radius: 2px;
    font-size: 0.9rem;
    color: #000;
    text-align: center;
    font-weight: 700;
    padding: 5px 10px
}

.tec-postgre{
    background: #CED6E1;
    border-radius: 2px;
    font-size: 0.9rem;
    color: #000;
    text-align: center;
    font-weight: 700;
    padding: 5px 10px
}


.hero-3 {
    height: 150vh;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.responsive-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    
   
}


.hero-3-title {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--light);
    position: relative;
    padding-left: 8%;


}

.hero-3-title::after {
    content: "";
    width: 120px;
    height: 4px;
    background: var(--primary);
    display: block;
    border-radius: 2px;
    margin-top: 8px;
}

.hero-3-description p {
    padding-left: 8%;
    font-family: 'Poppins',sans-serif;
    line-height: 1.2;
    color: var(--light);
    
}

#about-me .hero-3-description p {
    font-size: 1.5rem;

}


.hero-3-subtitle{
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--light);
    position: relative;
    padding-left: 8%;
    padding-top: 25px;
}

.hero-3-subtitle::after{
    content: "";
    width: 120px;
    height: 4px;
    background: var(--primary);
    display: block;
    border-radius: 2px;
    margin-top: 8px;
}

ul li {
    text-decoration: none;
    line-height: 1.4;
    padding-left: 8%;
   font-family: 'Poppins',sans-serif;
   color: var(--light);
    
  }
  
  ul li .hero-3-span {
    font-size: 1.3em;  /* Mantiene el tamaño grande del texto dentro de strong */
    
    font-weight: 100;
     color: #7ec8db;
  }

 














/* RESPONSIVE DESIGN */
@media (max-width:1200px){
    .hero-content{
        gap: 7rem;
        padding-left: 8rem;
    }
    .hero-title{
        font-size: 3.5rem;
    }
    .profile-img{
        width: 350px;
        height: 350px;
    }
    .circle-1{
        width: 400px;
        height: 400px;
    }
    .circle-2{
       
        width: 500px;
        height: 450px;
    }
}

@media (max-width: 1220px){
    .hero-content{
        padding-left: 7rem;
    }
    .hero-title{
        font-size: 2.3rem;
    }
    .profile-img{
        width: 300px;
        height: 300px;
    }
    .circle-1{
        width: 350px;
        height: 350px;
    }
    .circle-2{
        width: 400px;
        height: 400px;
    }
    
   
}

@media screen and (max-width: 924px){
    .hero-3-title{
        font-size: 2.2rem;
    }
    .responsive-container{
        position: relative;
        top: 45%;
        left: 20px;
    }
    
}

.hero-3-description p {
    font-size: 1.2rem;
}

.hero-3-subtitle {
    font-size: 2rem;
}

.uls-tec li {
    font-size: 1.2rem;
}





@media (max-width: 768px){
    .hero{
        padding: 4rem 1rem 100px 1rem;
    }
    .hero-description{
        line-height: 1.6;
        margin-bottom: 2rem;
        margin-left: 5.5rem;
        margin-right: 5.5rem;
        color: rgba(255, 255, 255, 0.7)
    }
    .hero-content{
        grid-template-columns: 1fr;
        gap: 3rem;
        padding-left: 0;
        text-align: center;
    }
    .hero-text{
        order: 2;
    }
    .hero-image{
        order: 1;
    }
    .hero-title::after{
        left: 50%;
        transform: translateX(-50%);
    }
    .cta-buttons{
        justify-content: center;
    }
    .social-links{
        left: 1rem;
    }
    .social-link{
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }
    .nav-links{
        gap: 2rem;
    }
    .profile-img{
        width: 280px;
        height: 280px;
    }
    .circle-1{
        width: 330px;
        height: 330px;
        left: 27.6%;
        transform: translateX(-50%);
    }
    .circle-2{
        width: 380px;
        height: 380px;
        left: 24.5%;
        transform: translateX(-50%);
    }
    .hero-3{
        position: relative;
        bottom: 150px;
        
    }
    

   
    
    
}

@media(max-width: 610px){
    .hero-2{
        height: 100%;
        margin-bottom: -150px;
        
    }
}

@media(max-width: 500px){
    .hero{
        padding-left: 3.5rem;
    }
    .hero-title{
        font-size: 2.5rem;
    }
    .hero-subtitle{
        font-size: 1.5rem;
    }
    .profile-img{
        width: 280px;
        height: 280px;
        
        
    }
    .circle-1{
        width: 330px;
        height: 330px;
        left: 4%;
        
    }
    .circle-2{
        width: 375px;
        height: 375px;
        left: -2%;
    }
    .cta-buttons{
        flex-direction: column;
        gap: 1rem;
    }
    .nav-links{
        gap: 1rem;
    }
    .nav-link{
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }
    .social-link{
        width: 35px;
        height: 35px;
        font-size: 0.9rem;
    }
    .social-links{
        left: 0.5rem;
    }

}



@media(max-width:390px){
    .hero{
        padding-left: 3rem;
    }
    .hero-title{
        font-size: 1.2rem;
    }
    .hero-description{
        margin-left: 1px;
        margin-right: 1px;
    }
    .profile-img{
        width: 200px;
        height: 200px;
    }
    .circle-1{
        width: 250px;
        height: 250px;
        left: 11%;
    }
    .circle-2{
        width: 300px;
        height: 300px;
        left: 3%;
    }
    .nav-links{
        gap: 0.8rem;
    }
    .nav-link{
        width: 35px;
        height: 35px;
    }
    .btn{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


@media (max-width:320px){
    .hero{
        padding-left:2.5rem;
    }
    .hero-title{
        font-size: 2.5rem;
    }
    .circle-1{
        width: 230px;
        height: 230px;
        left: 5%;
        top: -9%;
    }
    .circle-1{
        width: 280px;
        height: 280px;
        left: 0%;
        top: -18%;
    }
    .nav-links{
        gap: 0.5rem;
    }
    .social-link{
        width: 30px;
        height: 30px;
        font-size: 0.8rem;
    }
    .responsive-container{
        position: relative;
        left: 20px;
    }
}